@import '../../../styles/settings.scss';

.component {
  padding: $base-size;

  .select {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
}

